@import '@fontsource-variable/inter';

// fonts
$inter: 'Inter Variable', sans-serif;

// colors
$grey: #667085;
$grey-2: #7F8487;
$light: #f6f7f9;
$light-hover: #ebedf0;
$dark: #23272f;
$dark-2: #374151;
$dark-hover: #43424f;
$primary: #1d66db;