form {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 50px 15px 20px 15px;
    transition: top 1s ease;
    background-color: $light;

    .close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &::before {
        content: "Add Contact";
        position: absolute;
        top: 15px;
        left: 15px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    input {
        padding-left: 10px;
        height: 30px;
        width: 100%;
    }

    button {
        grid-column: 2;
        justify-self: flex-end;
        padding: 8px 15px;
        cursor: pointer;
        background-color: $primary;
        color: $light;
        border: none;
        border-radius: 2px;
    }
}

.dark-mode {
    form {
        background-color: $dark;

        &::before {
            color: $light;
        }

        .close-btn {
            color: $light;
            font-weight: 400;
        }

        input {
            background-color: $dark-2;
            border: none;
            outline: none;
            color: $light;

            &::placeholder {
                color: $grey-2;
            }
        }
    }
}