.header {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    height: 50px;

    h1 {
    }
}