.header {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    h1 {
        position: relative;
        right: -50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 450px) {
    .header {
        h1 {
            right: 0;
            transform: translateX(0);
            font-size: 2rem;
        }
    }
}