.header {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    h1 {
        position: relative;
        right: -50%;
        transform: translateX(-50%);
    }
}