@import './styles/variables';
@import './styles/header.scss';
@import './styles/addContacts.scss';
@import './styles/form.scss';
@import './styles/darkmode.scss';
@import './styles/contacts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $inter;
}

body {
    background-color: $light;
    
    #root {
        height: 100vh;
    }
    
    .dark-mode {
        background-color: $dark;
    }
}