@import './styles/variables';
@import './styles/header.scss';
@import './styles/addContacts.scss';
@import './styles/form.scss';
@import './styles/darkmode.scss';
@import './styles/contacts.scss';
@import '@fontsource-variable/inter';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Variable', sans-serif;
}

body {
    background-color: $light;
}